<!DOCTYPE html>
<html>
    <head>
        <title>File Upload Page</title>
    </head>
    <body>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="text" name="rollno" placeholder="roll no">
            <input type="text" name="assignment" placeholder="assignment"><br>
            <input type="file" name="file" /><br/>
            <input type="submit" value="Upload File" />
        </form>
        <p>Go to <a href="results">results</a></p>
    </body>
</html>
